.Notifications {
    position: relative;
    padding: 8px;
    border: 2px dashed red;
}

.Notifications p {
    font-weight: 600;
    font-size: larger;
}

.Notifications li {
    font-size: larger;
}

[data="default"] {
    color: blue;
}

[data="urgent"] {
    color: red;
}