#CourseList {
	margin-top: 40px;
	border: 1px solid rgb(170, 170, 170);
	margin-left: 2rem;
	width: 90%;
	border-collapse: collapse;
}

th:nth-child(2),
th:nth-last-child(2) {
	text-align: left;
	border-top: 1px solid rgb(170, 170, 170);
	border-bottom: 1px solid rgb(170, 170, 170);
}

td {
	text-align: left;
}